.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.navBarFirst{
    font-size: 39px;
    margin-top: -20px;
    margin-left: 15px;

}

.FilmsNav{
  color: white;
  font-size: 20px;
  margin-top: auto;
}

.FilmsRes{
  color: white;
  font-size: 20px;
  margin-top: auto;
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .FilmsNav{
    color: black;
    font-size: 20px;
    margin-top: auto;
  }

  .FilmsRes{
    color: black;
    font-size: 20px;
    margin-top: auto;
    margin-right: 50px;
  }
}